*/metadata/
*/recommenders/
*/settings
*/bin
*/.classpath
*/.project

ALGORITHM/.metadata/
ALGORITHM/.settings/
ALGORITHM/bin/
ALGORITHM/.classpath
ALGORITHM/.project

DS/.settings/
DS/bin/
DS/.classpath
DS/.project


/bin/
